Data Collection

In [2]:
list_data = [1, 2, 3, 4, 5, 6]

In [3]:
list_data

[1, 2, 3, 4, 5, 6]

In [5]:
list_data[0]

1

In [6]:
list_data[5]

6

In [8]:
list_data[0:3]

[1, 2, 3]

In [9]:
list_data[0:5:2]

[1, 3, 5]

Tugas Part A

In [13]:
var_a = [2, 1, 9, 1, 3, 4]
print(var_a[2])
print(var_a[1:4])
print([var_a[0],var_a[1],var_a[5]])

9
[1, 9, 1]
[2, 1, 4]

Tugas Part B

In [3]:
my_2d_list = [[1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1]]
my_list = [12, 21, 33, 45, 54, 62, 31, 23, 11]

#Nilai maksimum dari my_list
max_1d = max(my_list)
print('max_id: ', max_1d)

#Nilai minimum dari my_list
min_1d = min(my_list)
print('min_id: ', min_1d)

#Range data
data_range = max_1d - min_1d
print('data_range: ', data_range)

#Nilai rata-rata dari my_list
avg_1d = sum(my_list)/len(my_list)
print('mean: ', avg_1d)

#Hapus elemen 31 pada my_list
my_list.remove(31)
print('my_list: ', my_list)

#Tambahkan nilai 999 di akhir list
my_list.append(999)
print('my_list: ', my_list)

#Lakukan penjumlahan antara my_list dengan my_2d_list
combined_list = my_list + my_2d_list
print('combined_list: ', combined_list)

#Ubah nilai terakhir dari combined_list menjadi -999
combined_list[11] = -999
print('combined_list: ', combined_list)

max_id:  62
min_id:  11
data_range:  51
mean:  32.44444444444444
my_list:  [12, 21, 33, 45, 54, 62, 23, 11]
my_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999]
combined_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999, [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1]]
combined_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999, [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], -999]

Tuple dan Set

In [7]:
var_a = (1, 2, 3, 1, 2, 3)
print(var_a)

(1, 2, 3, 1, 2, 3)

In [11]:
var_b = {1, 2, 3, 1, 2, 3}
print(var_b)
print(var_a[3])
print(var_a[3:5])
print(var_b[0])

{1, 2, 3}
1
(1, 2)

TypeError: 'set' object is not subscriptable

Operasi pada Tuple dan Set

In [13]:
var_a = (1, 2, 3, 1, 2, 3)
var_b = {1, 2, 3, 1, 2, 3}
print(var_a*2)
print(var_a + var_b)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

TypeError: can only concatenate tuple (not "set") to tuple

Update Value Tuple dan Set

In [28]:
var_a = (3, 2, 1, 1, 2, 3)
var_b = {3, 2, 1, 1, 2, 3}
var_c = list(var_a)
var_c[5] = 999
var_a = tuple(var_c)
print(var_a)
var_d = list(var_b)
var_d[0] = 999
var_b = set(var_d)
print(var_b)

(3, 2, 1, 1, 2, 999)
{2, 3, 999}

Tugas Part C

In [45]:
var_a = (2,3,5,6,3,3,1,2,2,4,5,6,7)
print('var_a: ', var_a)
var_b = {2,3,5,6,3,3,1,2,2,4,5,6,7}
print('var_b: ', var_b)

var_c = list(var_a)
print('var_c: ', var_c)
var_d = list(var_b)
print('var_d: ', var_d)

var_c[3] = 999
print('var_c: ', var_c)
var_d[3] = 999
print('var_d: ', var_d)

var_a = tuple(var_c)
print('var_a: ', var_a)
var_b = set(var_d)
print('var_b: ', var_b)

var_b = set(var_d)
var_b

var_a:  (2, 3, 5, 6, 3, 3, 1, 2, 2, 4, 5, 6, 7)
var_b:  {1, 2, 3, 4, 5, 6, 7}
var_c:  [2, 3, 5, 6, 3, 3, 1, 2, 2, 4, 5, 6, 7]
var_d:  [1, 2, 3, 4, 5, 6, 7]
var_c:  [2, 3, 5, 999, 3, 3, 1, 2, 2, 4, 5, 6, 7]
var_d:  [1, 2, 3, 999, 5, 6, 7]
var_a:  (2, 3, 5, 999, 3, 3, 1, 2, 2, 4, 5, 6, 7)
var_b:  {1, 2, 3, 5, 6, 999, 7}

{1, 2, 3, 5, 6, 7, 999}

Dictionary

In [48]:
my_dict1 = {'nama': 'ashari'}
my_dict1

{'nama': 'ashari'}

In [49]:
my_dict2 = {'hobi': ['menggambar', 'bermusik']}
my_dict2

{':hobi': ['menggambar', 'bermusik']}

In [51]:
my_dict3 = {'nama': 'ashari', 'hobi': ['menggambar', 'bermusik']}
my_dict3

{'nama': 'ashari', 'hobi': ['menggambar', 'bermusik']}